---
---

//
// IMPORTS
//
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

/**************/
/* SVG SOCIAL ICONS */
/**************/
html {
  font-size: 0.225em;
}
.soc {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0 48px;
  padding: 4.8rem;
  text-align: center;
}
.soc li {
  display: inline-block;
  margin: 12px;
  margin: 1.2rem;
}
.soc a, .soc svg {
  display: block;
}
.soc a {
  position: relative;
  height: 96px;
  height: 9.6rem;
  width: 96px;
  width: 9.6rem;
}
.soc svg {
  height: 100%;
  width: 100%;
}
.soc em {
  font-size: 14px;
  line-height: 1.5;
  margin-top: -0.75em;
  position: absolute;
  text-align: center;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
}

.icon-1:hover, .icon-2:hover, .icon-3:hover, .icon-4:hover, .icon-5:hover, .icon-6:hover, .icon-7:hover, .icon-8:hover, .icon-9:hover, .icon-10:hover, .icon-11:hover, .icon-12:hover, .icon-13:hover, .icon-14:hover, .icon-15:hover, .icon-16:hover, .icon-17:hover, .icon-18:hover, .icon-19:hover, .icon-20:hover, .icon-21:hover, .icon-22:hover, .icon-23:hover, .icon-24:hover, .icon-25:hover, .icon-26:hover, .icon-27:hover, .icon-28:hover, .icon-29:hover, .icon-30:hover {
  border-radius: 100%;
  color: #0e1a25;
  fill: #0e1a25;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.icon-1 {
  color: #d94a26;
  fill: #d94a26;
}
.icon-1:hover {
  background: #d94a26;
}

.icon-2 {
  color: #d96e26;
  fill: #d96e26;
}
.icon-2:hover {
  background: #d96e26;
}

.icon-3 {
  color: $gray;
  fill: $gray;
}
.icon-3:hover {
  background: #e80dbb;
}

.icon-4 {
  color: $gray;
  fill: $gray;
}
.icon-4:hover {
  background: #e80dbb;
}

.icon-5 {
  color: #d9d926;
  fill: #d9d926;
}
.icon-5:hover {
  background: #d9d926;
}

.icon-6 {
  color: #b5d926;
  fill: #b5d926;
}
.icon-6:hover {
  background: #b5d926;
}

.icon-7 {
  color: #91d926;
  fill: #91d926;
}
.icon-7:hover {
  background: #91d926;
}

.icon-8 {
  color: $gray;
  fill: $gray;
}
.icon-8:hover {
  background: #e80dbb;
}

.icon-9 {
  color: #4ad926;
  fill: #4ad926;
}
.icon-9:hover {
  background: #4ad926;
}

.icon-10 {
  color: #26d926;
  fill: #26d926;
}
.icon-10:hover {
  background: #26d926;
}

.icon-11 {
  color: #26d94a;
  fill: #26d94a;
}
.icon-11:hover {
  background: #26d94a;
}

.icon-12 {
  color: #26d96e;
  fill: #26d96e;
}
.icon-12:hover {
  background: #26d96e;
}

.icon-13 {
  color: $gray;
  fill: $gray;
}
.icon-13:hover {
  background: #e80dbb;
}

.icon-14 {
  color: #26d9b5;
  fill: #26d9b5;
}
.icon-14:hover {
  background: #26d9b5;
}

.icon-15 {
  color: #26d9d9;
  fill: #26d9d9;
}
.icon-15:hover {
  background: #26d9d9;
}

.icon-16 {
  color: #26b5d9;
  fill: #26b5d9;
}
.icon-16:hover {
  background: #26b5d9;
}

.icon-17 {
  color: $gray;
  fill: $gray;
}
.icon-17:hover {
  background: #e80dbb;
}

.icon-18 {
  color: #266ed9;
  fill: #266ed9;
}
.icon-18:hover {
  background: #266ed9;
}

.icon-19 {
  color: #264ad9;
  fill: #264ad9;
}
.icon-19:hover {
  background: #264ad9;
}

.icon-20 {
  color: #2626d9;
  fill: #2626d9;
}
.icon-20:hover {
  background: #2626d9;
}

.icon-21 {
  color: #4a26d9;
  fill: #4a26d9;
}
.icon-21:hover {
  background: #4a26d9;
}

.icon-22 {
  color: #6e26d9;
  fill: #6e26d9;
}
.icon-22:hover {
  background: #6e26d9;
}

.icon-23 {
  color: #9126d9;
  fill: #9126d9;
}
.icon-23:hover {
  background: #9126d9;
}

.icon-24 {
  color: #b526d9;
  fill: #b526d9;
}
.icon-24:hover {
  background: #b526d9;
}

.icon-25 {
  color: #d926d9;
  fill: #d926d9;
}
.icon-25:hover {
  background: #d926d9;
}

.icon-26 {
  color: $gray;
  fill: $gray;
}
.icon-26:hover {
  background: #e80dbb;
}

.icon-27 {
  color: #d92691;
  fill: #d92691;
}
.icon-27:hover {
  background: #d92691;
}

.icon-28 {
  color: #d9266e;
  fill: #d9266e;
}
.icon-28:hover {
  background: #d9266e;
}

.icon-29 {
  color: #d9264a;
  fill: #d9264a;
}
.icon-29:hover {
  background: #d9264a;
}

.icon-30 {
  color: #d92626;
  fill: #d92626;
}
.icon-30:hover {
  background: #d92626;
}
//////////////////////////////////


body {
	background: $white !important;
  font: 13px/1.4 $mainfont;
  color: $gray;
  letter-spacing: 2px;
  line-height: 2;
}

.logoWai {
    font-family: $mainfont;
    @include mobile {
        width: 200px;
    }
}

.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $mainfont;
  color: $gray;
  font-weight: lighter;
  letter-spacing: 3px;
  line-height: 1.3;
  text-transform: none;
  margin: 0.1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.1;
  }
}

h1 {
    font-size: 45px;
    text-transform: uppercase;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

hr {
  border-top: 1px;
  width: 30%;
  margin: 35px auto;
}

a.button-cv {
  text-transform: uppercase;
  background-color: #e80dbb;
  padding: 8px 15px;
  color: $white;
  cursor: pointer;
  &:hover {
    background-color: $transWhite;
    box-shadow: 5px 12px 12px $lightGray;
  }
}

a {
  color: $gray;
  font-weight: bold;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $black;
  }
}

a.active {
    color: $black;
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
  box-shadow: 1px 2px 12px $gray;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  margin: 30px 0;
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 10px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 0px solid $lightGray;

  img {
    border-radius: 50%;
    width: 60px;
    display: block;
    margin: 30px auto 0 auto;
  }

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 10em;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $gray;
  cursor: pointer;
  font-family: $mainfont;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 12px;
  text-transform: uppercase;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 75px; // @TODO: Vertically middle align
  font-family: $mainfont;
  font-size: 16px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $gray;
    text-align: right;
    font-weight: 200;
    letter-spacing: 5px;

    @include mobile {
      margin: 0 10px;
      color: $black;
    }
    &:hover, &:active {
      color: $black;
    }
  }
}

//
// .main
//
.portfolio {
    article {
        background: $black;
    }
}

.page {
  padding: 50px;

    img.profilePic {
        float: right;
        width: 100px;
        margin: 10px 12px;
    }
    @include mobile {
        padding: 15px 10px;
    }
}

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
    background: $white;
    padding: 50px 0px;
    border-radius: 6px;

    @include mobile {
        padding: 15px 10px;
    }
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 13px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: capitalize;
    font-size: 15px;
  }
}

.share {
  text-align: right;
}

.related {
  padding: 0 10px;
}


blockquote::before {
    content: "\275D";
    font-size: 50px;
    float: left;
    line-height: 15px;
    padding-right: 4px;
    padding-top: 18px;
    color: #e80dbb;
}

blockquote {
  border-radius: 6px;
  border-left: 1px solid $lightGray;
  margin: 30px 0;
  padding: 1em 2em;
  color: $gray;
  text-align: left;
  font-size: 13px;
  font-family: $mainfont;
  letter-spacing: 2px;
    cite {
      font-weight: 600;
    }
    h6 {
      font-size: 0.67em;
      text-transform: uppercase;
    }
    span {
      color: $black;
    }
    img {
        float: left;
        width: 60px;
        margin: -5px 12px 8px 0;
        border-radius: 3px;
    }
    @include mobile {
       margin: 0.1em 1em;
    }
}

.wrapper-footer {
  background-color: transparent;
}

footer {
  padding: 20px 0;
  text-align: center;

  img.umbraco {
    width: 60px;
  }
  img.shopify {
    margin: 45px 0;
  }
}

footer p.about-excerpt {
    font-size: 13px;
}

.footer-nav {
    background: $black;
    position: relative;
    bottom: 0;
    margin-top: 50px;

    ul {
    list-style: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    }

    li {
    font-size: 12px;
    display: inline;
    padding: 10px 3px;
    }

    a {
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    color: $white;
    &:hover, &:active {
      text-shadow: 2px 5px 5px;
      }
    }
}

//* Media/Image Galleries *//
ul.photo-gallery {
    list-style: none;
    display: block;
    margin: 0 auto;
    li {
        display: inline;
        padding: 0;
        img {
            width: 32%;
        }
    }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
