<form id="getInTouch" method="POST"
  action="https://www.formingo.co/submit/hello@wailaw.me">
  <fieldset>
       <ol>
           <li>
                <label for="full_name">Name</label><br>
                <input type="text" name="full_name" id="full_name" placeholder="What do want me to call you?">
           </li>        
            
           <li>
                <label for="__replyto">Email Address</label><br>
                <input type="email" name="__replyto" id="__replyto" placeholder="This is so I can get in touch">
           </li>
            
           <li>
                <label for="textarea">Your Message</label><br>
                <textarea name="message" placeholder="Let me know how I can help you?" rows="10" col="70"></textarea>
           </li>
       </ol>
  </fieldset>
  <fieldset>
      <button type="submit" value="Send">Send It</button>
            <input type="hidden" name="__redirect" value="http://www.wailaw.me/thanks">
  </fieldset>
</form>