<div class="wrapper-footer">
  <div class="container">
    <footer class="footer">
      <p>Lets Work Together</p>
      {% include svg-icons.html %}
        <p class="about-excerpt">I'm Wai, a Web Designer residing in London, UK, although these days I'm more of a Front End Dev and also an occasional Video Editor, supporting the travel industry. I have walked a marathon but yet to run one.</p>
        <p><a href="mailto:hello@wailaw.me">hello at wailaw dot me</a></p>
    </footer>
  </div>
</div>