<blockquote>
  <p>
    I contacted Wai to help me with my site after being frustrated with the original designer. Not only was he a pleasure to work with, listening to all my needs, he then worked very quickly and suggested a number of improvements I hadn't thought about. Once he had worked his magic the site looks and functions to a much higher standard. I can't recommend Wai enough!.
  </p>
  <img class="review-img" src="{{ site.baseurl }}/images/testimonial-pics/claire.jpg" alt="Claire Rowland">
  <cite>Claire Rowland</cite>
  <h6>Cake Designer | <span>Creative Bakes</span></h6>
</blockquote>
