<blockquote>
  <p>
    "I have worked with Wai on a number of projects, including building a website, SEO consultancy and video production. He is quick, efficient and a pleasure to work with. On a number of occasions he came up with innovative problem-solving solutions which contributed greatly to the successful outcome of the projects. I would not hesitate in recommending his services.
  </p>
  <img class="review-img" src="images/testimonial-pics/mike-100x100.jpg" alt="Mike Pullman">
  <cite>Michael Pullman</cite>
  <h6>Marketing Manager | <span>Wild Frontiers Travel</span></h6>
</blockquote>
