
//
// VARIABLES
//

// Colors
$accent: #F55567;

// BlueyPurples
$black: #000;
$darkerBlue: #1b1a24;
$darkBlue: #4a525a;
$gray: #999;
$lightGray: #eee;
$white: #fff;
$transWhite: rgba(255,255,255,0.3);
$bgdark: #1e1e1e;

// Font stacks
$mainfont: 'Titillium Web', sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
