
//
// VARIABLES
//

// Colors
$accent: #cc4b37;

// BlueyPurples
$black: #000;
$darkerBlue: #1b1a24;
$darkBlue: #4a525a;
$gray: #999;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
