---
layout: default
---

<article class="post">
    
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  
  <div class="share">
    <h3>Share this post</h3>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="TravelFrontEnds" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script type="IN/Share"></script>
  </div>
    
  <div class="related">
      <h2>Other Posts</h2>
      <ul>
        {% for post in site.related_posts limit:3 %}
          <a href="{{ post.url }}">
              <li>
              <h4>{{ post.title }}&nbsp;&nbsp;{{ post.date | date_to_string }}</h4>
              </li>
          </a>
        {% endfor %}
      </ul>
  </div>
    
  {% include disqus.html %}
    
</article>
