---
layout: default-post
---

<article class="post">
    
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  
  <div class="share">
    <h5>Share this post</h5>
    <a class="twitter" target="_blank" href="https://twitter.com/share?url=http://useful-titbits.wailaw.me/post/anti-render-blocking-css&amp;text=Anti render blocking css">Twitter</a>
    <a href="mailto:?subject=Useful Snippet - Take a look at this article&amp;t=Anti render blocking css&amp;body=http://useful-titbits.wailaw.me/post/anti-render-blocking-css" title="Share by Email"><i class="fa fa-share fa-2x" aria-hidden="true"></i></a>
  </div>
    
  <div class="related">
      <h2>Other Posts</h2>
      <ul>
        {% for post in site.related_posts limit:3 %}
          <a href="{{ post.url }}">
              <li>
              <h4>{{ post.title }}&nbsp;&nbsp;{{ post.date | date_to_string }}</h4>
              </li>
          </a>
        {% endfor %}
      </ul>
  </div>
    
  {% include disqus.html %}
    
</article>
