---
layout: default
---

<h6><a href="{{ site.baseurl }}/storiesandscribbles">&larr; More Stories and Scribbles</a></h6>

<!-- Main Article Content -->
<article class="post">
  <h2>{{ page.title }}</h2>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
</article>
<!-- #Main Article Content -->

<hr>

  <!-- Share Content -->
  <div class="share">
    <h3>Share this post</h3>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="TravelFrontEnds" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
    <script type="IN/Share"></script>
  </div>
  <!-- #Share Content -->

  <!-- Related Posts -->
  <div class="related">
      <h2>Alternate Scribbles</h2>
      <ul>
        {% for post in site.related_posts limit:3 %}
          {% if post.type != "portfolio" %}
          <a href="{{ post.url }}">
              <li>
              <h4>{{ post.title }}</h4>
              </li>
          </a>
          {% endif %}
        {% endfor %}
      </ul>
  </div>
  <!-- #Related Posts -->

  {% include disqus.html %}
